
https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl
numpy
opencv-contrib-python
opencv-python
numba
youtube-dl
ffmpeg-python
librosa==0.8.1
tensorflow
basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.5
Pillow
torch>=1.7
torchvision
tqdm
git+https://github.com/sberbank-ai/Real-ESRGAN.git
matplotlib
inflect
librosa
scipy
resampy==0.3.1
git+https://github.com/NVIDIA/dllogger@v0.1.0#egg=dllogger
